In [1]:
import numpy as np
import pandas as pd
import re
import sqlite3

In [2]:
#Read CSV file of Lottery Numbers
df = pd.read_csv("/Users/brycekan/Downloads/Lottery_Powerball_Winning_Numbers__Beginning_2010.csv")
df

       Draw Date    Winning Numbers  Multiplier
0     09/26/2020  11 21 27 36 62 24         3.0
1     09/30/2020  14 18 36 49 67 18         2.0
2     10/03/2020  18 31 36 43 47 20         2.0
3     10/07/2020  06 24 30 53 56 19         2.0
4     10/10/2020  05 18 23 40 50 18         3.0
...          ...                ...         ...
1396  11/26/2022  15 30 47 50 51 03        10.0
1397  11/28/2022  29 30 32 48 50 20         2.0
1398  11/30/2022  04 19 24 47 66 10         2.0
1399  12/03/2022  06 13 33 36 37 07         4.0
1400  12/05/2022  35 45 47 54 55 14         2.0

[1401 rows x 3 columns]

In [23]:
#Read second dataframe
df2 = pd.read_csv("/Users/brycekan/Downloads/Lottery_Powerball_Winning_Numbers__Beginning_2010_part2.csv")
df2_only4 = df2.head(4)
df2_only4

  Draw Date    Winning Numbers  Multiplier
0   3/25/10  18 29 24 16 63 44         4.0
1   3/27/10  59 53 19 29 20 03         2.0
2   5/15/10  38 61 24 31 07 60        15.0
3   7/21/10  52 21 65 92 34 01         1.0

In [24]:
#Create a Table to store Lottery Numbers
create_table = """CREATE TABLE IF NOT EXISTS Lotto (
    Draw_Date VARCHAR(255) PRIMARY KEY,
    Winning_Numbers FLOAT,
    Multiplier FLOAT)"""

In [25]:
#Create a Lottery Database
conn = sqlite3.connect('Lottery_database')
c = conn.cursor()

In [26]:
#Execute SQL command
c.execute(create_table)
conn.commit()

In [27]:
#Push Dataframe to SQLLite3 Database
df.to_sql('Lotto', conn, if_exists='replace', index = False)

1401

In [28]:
#Push Second Dataframe to SQLLite3 Database
df2_only4.to_sql('Lotto', conn, if_exists='append', index = False)

4

In [35]:
#See if all the data is in the database(Limited to 25 for demonstration purposes)
c.execute('''SELECT * FROM Lotto LIMIT 25''').fetchall()

[('09/26/2020', '11 21 27 36 62 24', 3.0),
 ('09/30/2020', '14 18 36 49 67 18', 2.0),
 ('10/03/2020', '18 31 36 43 47 20', 2.0),
 ('10/07/2020', '06 24 30 53 56 19', 2.0),
 ('10/10/2020', '05 18 23 40 50 18', 3.0),
 ('10/14/2020', '21 37 52 53 58 05', 2.0),
 ('10/17/2020', '06 10 31 37 44 23', 2.0),
 ('10/21/2020', '01 03 13 44 56 26', 3.0),
 ('10/24/2020', '18 20 27 45 65 06', 2.0),
 ('10/28/2020', '11 28 37 40 53 13', 2.0),
 ('10/31/2020', '02 06 40 42 55 24', 3.0),
 ('11/04/2020', '23 32 33 45 49 14', 2.0),
 ('11/07/2020', '14 16 37 48 58 18', 2.0),
 ('11/11/2020', '13 15 17 45 63 13', 2.0),
 ('11/14/2020', '07 15 18 32 45 20', 2.0),
 ('11/18/2020', '04 05 17 43 52 05', 2.0),
 ('11/21/2020', '51 54 57 60 69 11', 2.0),
 ('11/25/2020', '02 57 58 60 65 26', 2.0),
 ('11/28/2020', '08 12 18 44 51 18', 2.0),
 ('12/02/2020', '28 31 40 41 46 04', 3.0),
 ('12/05/2020', '03 04 06 48 53 10', 2.0),
 ('12/09/2020', '11 14 31 47 48 04', 3.0),
 ('12/12/2020', '17 54 56 63 69 20', 2.0),
 ('12/16/2020', '04 23 37 61 67 07', 2.0),
 ('12/19/2020', '27 32 34 43 52 13', 2.0)]

In [32]:
#query only drawings that have a multiplier of 10 and above
query_df_from_sql = pd.DataFrame(c.execute('''SELECT * FROM Lotto WHERE Multiplier >= 10.0 ''').fetchall(),
             columns = [description[0] for description in c.description])
query_df_from_sql

     Draw Date    Winning Numbers  Multiplier
0   02/20/2021  04 08 22 32 58 04        10.0
1   08/19/2020  13 23 47 55 58 23        10.0
2   07/15/2020  27 47 61 62 69 04        10.0
3   07/08/2020  03 10 34 36 62 05        10.0
4   09/04/2019  04 08 30 52 59 02        10.0
5   08/28/2019  09 32 37 41 56 14        10.0
6   01/31/2018  04 07 14 46 59 22        10.0
7   03/01/2017  10 16 40 52 55 17        10.0
8   06/12/2010  09 12 13 35 38 30        10.0
9   10/06/2021  01 17 52 58 64 01        10.0
10  01/08/2022  20 21 36 60 65 13        10.0
11  08/13/2022  19 24 35 43 62 02        10.0
12  11/26/2022  15 30 47 50 51 03        10.0
13     5/15/10  38 61 24 31 07 60        15.0